aside {
	display: flex;
	flex-wrap: wrap;
	
	align-items: center;
}

aside > button {
	margin-left: 16px;
	
	&:first-child {
		margin-left: 2px;
	}
}

section[drawercontainer] {
	display: block;
	box-sizing: border-box;
	
	margin: 0;
	padding: 20px 0;
	
	z-index: 200;
	background-color: white;
	
	&.direction-left,
	&.direction-right {
		width: 75vw;
		max-width: 400px;
		height: 100vh;
	}

	&.direction-top,
	&.direction-bottom {
		height: 75vw;
		max-height: 600px;
		width: 100%;
	}
}
