<table commons-table2 *ngIf="this.metadata && this.page"
		[disabled]="this.disabled"
		[selectable]="this.selectable"
>
	<thead commons-table2-header>
		<tr commons-table2-header-columns
				[selectAll]="this.selectable !== undefined && this.page.length === this.selecteds.length"
				(selectAllChange)="this.doSelectAll();"
		>
			<th commons-table2-header-column *ngFor="let field of this.metadata.manageableFields"
					[name]="field.name"
					[width]="this.getColumnWidth(field.name)"
			>
				{{ field.description || field.name }}
			</th>
			<th commons-table2-header-column *ngIf="this.rowActions && this.hasAccessToManage"
					[name]="'actions'"
					[width]="((16 * 2) + ((30 + (2 * 2)) * (this.allowMove ? 6 : 2))) + 'px'"
			></th>
		</tr>
	</thead>
	<tbody commons-table2-body>
		<tr commons-table2-body-row *ngFor="let row of this.page"
				[selected]="this.isSelected(row)"
				(selectedChange)="this.doSelected(row, $event);"
		>
			<td commons-table2-body-cell *ngFor="let field of this.metadata.manageableFields, let index = index"
					[class.read-only]="this.isReadOnlyRow(row) && index === 0"
			>
				<i class="material-icons read-only" *ngIf="this.isReadOnlyRow(row) && index === 0">lock</i>
				<span [ngSwitch]="field.type">
					<ng-container *ngSwitchCase="ECommonsAdamantineManagedDataType.DATETIME">
						{{ row[field.name] | commonsPrettyDateTime }}
					</ng-container>
					<ng-container *ngSwitchCase="ECommonsAdamantineManagedDataType.DATE">
						{{ row[field.name] | commonsPrettyDate }}
					</ng-container>
					<ng-container *ngSwitchCase="ECommonsAdamantineManagedDataType.TIME">
						{{ row[field.name] | commonsPrettyTime }}
					</ng-container>
					<ng-container *ngSwitchCase="ECommonsAdamantineManagedDataType.BOOLEAN">
						<i class="material-icons" *ngIf="this.row[field.name] === true">check</i>
					</ng-container>
					<ng-container *ngSwitchCase="ECommonsAdamantineManagedDataType.HEXRGB">
						<section class="pseudo-chip" *ngIf="row[field.name] !== undefined"
								[style.background]="row[field.name]"
						><span>{{ row[field.name] }}</span></section>
					</ng-container>
					<ng-container *ngSwitchDefault>
						{{ row[field.name] }}
					</ng-container>
					
					<ng-container *ngIf="field.suffix !== undefined">{{ field.suffix }}</ng-container>
				</span>
			</td>
			<td commons-table2-body-cell *ngIf="this.rowActions && this.hasAccessToManage">
				<button commons-button class="icon small"
						title="Edit"
						[disabled]="this.disabled || this.isReadOnlyRow(row)"
						(click)="this.onActionEdit.emit(row);"
				><i class="material-icons">edit</i></button>
				<button commons-button class="icon small"
						title="Delete"
						[disabled]="this.disabled || this.isReadOnlyRow(row)"
						(click)="this.onActionDelete.emit(row);"
				><i class="material-icons">delete</i></button>
				
				<ng-container *ngIf="this.allowMove">
					<button commons-button class="icon small"
							title="Move to top"
							[disabled]="this.disabled || this.isFirst(row)"
							(click)="this.onActionMoveTop.emit(row);"
					><i class="material-icons">vertical_align_top</i></button>
					<button commons-button class="icon small"
							title="Move up"
							[disabled]="this.disabled || this.isFirst(row)"
							(click)="this.onActionMoveUp.emit(row);"
					><i class="material-icons">arrow_upward</i></button>
					<button commons-button class="icon small"
							title="Move down"
							[disabled]="this.disabled || this.isLast(row)"
							(click)="this.onActionMoveDown.emit(row);"
					><i class="material-icons">arrow_downward</i></button>
					<button commons-button class="icon small"
							title="Move to bottom"
							[disabled]="this.disabled || this.isLast(row)"
							(click)="this.onActionMoveBottom.emit(row);"
					><i class="material-icons">vertical_align_bottom</i></button>
				</ng-container>

			</td>
		</tr>
	</tbody>
	<tfoot commons-table2-footer *ngIf="this.paginate !== undefined">
		<tr commons-table2-footer-pagination
				[from]="this.from"
				[total]="this.rows.length"
				[(rows)]="this.paginate"
				(rowsChange)="this.doPaginate();"
				(onFirst)="this.doFirst();"
				(onBack)="this.doBack();"
				(onForward)="this.doForward();"
				(onLast)="this.doLast();"
		></tr>
	</tfoot>
</table>
