td[commons-table2-body-cell].read-only {
	display: inline-grid;
	grid-template-columns: 17px auto;
	grid-column-gap: 10px;
	align-items: center;
	
	i.material-icons.read-only {
		font-size: 17px !important;
	}
}

@materialdesign__font__body2--size: 14px;
@materialdesign__font__body2--weight: 500;
@materialdesign__font__family: "Roboto";
@web-app-commons__paragraph__text--lineheight--ratio: 1.5;

@chip--height: 32px;
@chip__font--size: @materialdesign__font__body2--size;
@chip__font--weight: @materialdesign__font__body2--weight;

section.pseudo-chip {
	display: inline-block;
	box-sizing: border-box;
	height: @chip--height;
	border-radius: @chip--height / 2;
	padding: 0 12px;
	margin: 3px 8px 3px 0;

	span {
		font-family: @materialdesign__font__family;
		font-size: @chip__font--size;
		line-height: @chip__font--size * @web-app-commons__paragraph__text--lineheight--ratio;
		font-weight: @chip__font--weight;
	
		position: relative;
		top: ((@chip--height - (@chip__font--size * @web-app-commons__paragraph__text--lineheight--ratio)) / 2) + 1px;
	}
}
