<adamantine-editor-form
		[fields]="this.fields"
		[disabled]="this.disabled || this.syncClash"
		[helpers]="this.getHelpers()"
		[(data)]="this.working"
></adamantine-editor-form>

<div class="silly-bottom-gap-hack"></div>

<commons-bottom-action-buttons
		[actions]="[
			{ action: 'save', icon: 'save', main: true, disabled: this.syncClash || !this.isAnyChanged() },
			{ action: 'refresh', icon: 'refresh', main: false }
		]"
		(onAction)="this.doAction($event);"
></commons-bottom-action-buttons>
