<commons-pane class="no-padding bigger-top-gap">
	<form *ngIf="this.metadata">
		<adamantine-data-fields-form
				[dataFields]="this.metadata.manageableFields"
				[autoDropdownDirection]="this.autoDropdownDirection"
				[ucFieldNames]="this.ucFieldNames"
				[(data)]="this.internalRow"
		></adamantine-data-fields-form>
		
		<commons-pane class="no-padding bigger-top-gap">
			<button commons-button class="filled"
					[disabled]="!this.isFormCompleted()"
					(click)="this.doSave();"
			>Save changes</button>
			<button commons-button
					(click)="this.doCancel();"
			>Cancel</button>
		</commons-pane>
	</form>
</commons-pane>
