<commons-pane *ngFor="let field of fields; let first = first"
		[class.no-top-gap]="!first"
><ng-container [ngSwitch]="field.type">

	<commons-textbox *ngSwitchCase="'single'"
			[placeholder]="field.description"
			[disabled]="this.disabled"
			[helper]="this.getHelper(field)"
			[error]="this.getError(field)"
			[(value)]="this.data[field.name]"
			(valueChange)="this.cascadeChange()"
	></commons-textbox>

	<commons-textbox *ngSwitchCase="'listset'"
			[options]="field.listset"
			[optionsOnly]="true"
			[placeholder]="field.description"
			[disabled]="this.disabled"
			[helper]="this.getHelper(field)"
			[error]="this.getError(field)"
			[(value)]="this.data[field.name]"
			(valueChange)="this.cascadeChange()"
	></commons-textbox>

	<commons-textarea *ngSwitchCase="'multi'"
			[placeholder]="field.description"
			[disabled]="this.disabled"
			[helper]="this.getHelper(field)"
			[error]="this.getError(field)"
			[(value)]="this.data[field.name]"
			(valueChange)="this.cascadeChange()"
	></commons-textarea>

	<commons-date-time *ngSwitchCase="'date'"
			[placeholder]="field.description"
			[disabled]="this.disabled"
			[helper]="this.getHelper(field)"
			[error]="this.getError(field)"
			[(timestamp)]="this.data[field.name]"
			(timestampChange)="this.cascadeChange()"
	></commons-date-time>

	<commons-checkbox *ngSwitchCase="'boolean'"
			[disabled]="this.disabled"
			[(checked)]="this.data[field.name]"
			(checkedChange)="this.cascadeChange()"
	><label
			[class.disabled]="this.disabled"
	>{{field.description}}</label></commons-checkbox>

	<commons-info-line error *ngSwitchDefault>No view for {{field.type}} ({{field.description}})</commons-info-line>

</ng-container></commons-pane>