<section form>
	<section row *ngFor="let field of this.dataFields; index as i">

		<ng-container [ngSwitch]="field.type">
			<commons-textbox *ngSwitchCase="'enum'" class="enum"
					[class.upwards]="this.autoDropdownDirection && ((i + (field.options.length / 2)) >= this.dataFields.length)"
					[disabled]="this.disabled"
					[optionsOnly]="true"
					[options]="field.options"
					[clearable]="field.optional"
					[placeholder]="this.getPlaceholder(field)"
					[helper]="field.helper"
					[(value)]="this.data[field.name]"
			></commons-textbox>

			<commons-checkbox *ngSwitchCase="'boolean'"
					[disabled]="this.disabled"
					[(checked)]="this.data[field.name]"
			>{{ field.description || field.name || '' }}</commons-checkbox>
			
			<commons-textbox *ngSwitchCase="'date'" class="date"
					[type]="'date'"
					[disabled]="this.disabled"
					[clearable]="field.optional"
					[placeholder]="this.getPlaceholder(field)"
					[helper]="field.helper"
					[(value)]="this.data[field.name]"
			></commons-textbox>
			
			<commons-textbox *ngSwitchCase="'datetime'" class="datetime"
					[type]="'datetime-local'"
					[disabled]="this.disabled"
					[clearable]="field.optional"
					[placeholder]="this.getPlaceholder(field)"
					[helper]="field.helper"
					[(value)]="this.data[field.name]"
			></commons-textbox>
			
			<commons-textbox *ngSwitchCase="'time'" class="time"
					[disabled]="this.disabled"
					[clearable]="field.optional"
					[placeholder]="this.getPlaceholder(field)"
					[helper]="field.helper"
					[(value)]="this.data[field.name]"
			></commons-textbox>
			
			<commons-textbox *ngSwitchCase="'idname'" class="idname"
					[disabled]="this.disabled"
					[clearable]="field.optional"
					[placeholder]="this.getPlaceholder(field)"
					[helper]="field.helper"
					[(value)]="this.data[field.name]"
			></commons-textbox>
			
			<commons-textbox *ngSwitchCase="'email'" class="email"
					[type]="'email'"
					[disabled]="this.disabled"
					[clearable]="field.optional"
					[placeholder]="this.getPlaceholder(field)"
					[helper]="field.helper"
					[(value)]="this.data[field.name]"
			></commons-textbox>
			
			<commons-textbox *ngSwitchCase="'url'" class="url"
					[type]="'url'"
					[disabled]="this.disabled"
					[clearable]="field.optional"
					[placeholder]="this.getPlaceholder(field)"
					[helper]="field.helper"
					[(value)]="this.data[field.name]"
			></commons-textbox>
			
			<commons-textbox *ngSwitchDefault class="string"
					[disabled]="this.disabled"
					[clearable]="field.optional"
					[placeholder]="this.getPlaceholder(field)"
					[helper]="field.helper"
					[(value)]="this.data[field.name]"
			></commons-textbox>
		</ng-container>

	</section>
</section>
