section[form] {
	display: grid;
	width: 100%;
	
	grid-auto-rows: auto;
	grid-template-columns: 1fr;
	grid-row-gap: 20px;
}

:host-context(.auto-size) {
	commons-textbox.enum {
		max-width: 150px;
	}

	commons-textbox.datetime {
		max-width: 230px;
	}

	commons-textbox.date {
		max-width: 150px;
	}

	commons-textbox.time {
		max-width: 150px;
	}

	commons-textbox.string {
		max-width: 360px;
	}

	commons-textbox.email {
		max-width: 360px;
	}
}
